@import "tailwindcss";
@variant dark (.dark &);

/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* Light mode default */
body {
    /* background-color: #f2f2f2; */
    background-color: white;
    /* padding-top: 70px; */
}

/* Dark mode */
html.dark body {
    background-color: #141414;
}

/* tailwind directives... */
@theme {
    --font-poppins: "Poppins", sans-serif;
    --font-rajdhani: "Rajdhani", sans-serif;
    --font-rubik: "Rubik", sans-serif;
    --font-dancing-script: "Dancing Script", cursive;

    --color-white: #fff;
    --color-white-50: #d7d9ff;
    /* --color- */
}

/* custom utility class...*/
/* 1.layout start--------------------------------------------------------------- */
@layer utilities {

    .container {
        @apply max-w-7xl mx-auto;
    }

    .mobile-margin {
        @apply mx-1 lg:mx-0;
    }

    .mobile-padding {
        @apply px-2 lg:px-0;
    }

    /* layout end */


  
}

/* 2.text-typo start---------------------------------------------------------------  */
@layer utilities {


    /* 2.1number category(xs, sm) */

    /* 2.2 number category(base) */
    .base-text-gray {
        @apply text-xs lg:text-base text-[#9f9f9f] font-normal font-rajdhani leading-[150%] capitalize
    }

    .base-text-branding {
        @apply text-base text-[#ff014f] font-medium font-rubik leading-[100%] tracking-widest capitalize
    }

    .nav-link {
        @apply text-base text-black dark:text-white font-medium font-rubik leading-[150%] capitalize;
    }

    /* 2.3number typo(lg,xl,2xl) */

    /* 2.4large category typo */
    .heading-text-48px {
        @apply text-[25px] lg:text-[48px] text-[#ffffff] font-bold font-rajdhani leading-[130%] my-2.5 lg:capitalize;
    }

    /* text-typo end */
}

/*3. button typo start--------------------------------------------------------------- */
@layer utilities {
.contact-btn{
    @apply size-10 lg:size-12.5  border border-[#ffffff14] rounded-full inline-flex justify-center items-center
}
    .swiper-left {
        @apply cursor-pointer inline-flex justify-center items-center size-11.25 hover:bg-[#ff014f] border border-[#999] hover:border-[#ff014f] rounded-full hover:text-white text-[#999] text-base transition-colors duration-300
    }

    .swiper-right {
        @apply cursor-pointer inline-flex justify-center items-center size-11.25 hover:bg-[#ff014f] border border-[#999] hover:border-[#ff014f] rounded-full hover:text-white text-[#999] text-base transition-colors duration-300
    }

    /* button typo end */
}
/* 4.additional typo ---------------------------------------------------------------*/
@layer utilities{
    .input-field {
        @apply inline-block px-3.75 py-3 lg:py-5 border border-[#ffffff14] rounded-[10px] text-sm lg:text-base text-white font-medium font-rubik capitalize caret-[#ff014f] focus:outline-3 focus:outline-[#ff014f]
    }

    /* additional typo end */
}