@import "tailwindcss";
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* Light mode default */
body {
    /* background-color: #f2f2f2; */
    background-color: black;
}

/* Dark mode */
body.dark {
    background-color: black;
}

/* tailwind directives... */
@theme {
    --font-poppins: "Poppins", sans-serif;
    --font-rajdhani: "Rajdhani", sans-serif;
    --font-rubik: "Rubik", sans-serif;
    --font-dancing-script: "Dancing Script", cursive;

    --color-white: #fff;
    --color-white-50: #d7d9ff;
    /* --color- */
}

/* custom utility class...*/
@layer utilities {
    .container {
        @apply max-w-7xl mx-auto;
    }

    .mobile-margin {
        @apply mx-1 lg:mx-0;
    }

    .mobile-padding {
        @apply px-1 lg:px-0;
    }

    .nav-link {
        @apply text-base font-medium font-rubik leading-[150%] capitalize;
    }

    /* .sm-text {}

    .base-text {}

    .lg-text {} */
    .input-field {
        @apply inline-block px-3.75 py-3 lg:py-5 border border-[#ffffff14] rounded-[10px] text-sm lg:text-base text-white font-medium font-rubik capitalize caret-[#ff014f] focus:outline-2 focus:outline-[#ff014f]
    }
}

/* text- text- font- font- leading-[] tracking- uppercase 
#1a1a1a
*/